# Core Computer Vision
opencv-python<=4.10.0.84
numpy<2.0.0

# Face Recognition (DeepFace & TensorFlow)
tensorflow==2.16.1
tf-keras
protobuf>=4.25.3,<5
deepface

# Face Landmarks & Geometry (Fatigue Detection)
mediapipe

# Roboflow Inference Pipeline (Distraction Detection)
inference

# Utilities
python-dotenv
